.registerContainer {
    background: url(../../assets/images/backgrounds/greenWaves.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}