.container {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.457);
    position: relative;
    z-Index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textSection {
    width: 30%;
    margin-left: 8%;
}

.secTittle {
    background: linear-gradient(#016ca5, #ffffff, #bedef5);/* Ver los colores del gradiente */
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-size: 60px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradientAnimation 5s ease infinite;
}


/* @keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
} */

.imgContainer {
    display: flex;
    max-width: 70%;
    
}

.biographyClock {
    transform: scaleX(-1);
    width: 100%;
}