.container {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.457);
    position: relative;
    z-Index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textSection {
    width: 30%;
    margin-left: 8%;
}

.secTitle {
    background: linear-gradient(#016ca5, #bedef5);
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-size: 40px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imgContainer {
    display: flex;
    max-width: 70%;
    
}

.biographyClock {
    transform: scaleX(-1);
    width: 100%;
}