.container {
    display: flex;
}

.pythonLogo {
    margin-right: 15%;
}

.navLinksList {
    display: flex;
    align-items: center;
}

.navItem {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin: 2%;
    width: 130px;
    transition: ease 0.7s all;
}

.navItem:hover {
    color: var(--clr-pale-blue);
    text-shadow: 1px 1px ;
}