.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.productContainer h2, 
.productDescription h3 {
    text-align: center;
    margin: 3% 0;
    background: linear-gradient(#bedef5, #016ca5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.productDescription {
    display: flex;  
    justify-content: center;
    
    align-items: center; 
    flex-direction: column;
}

.productlist{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

.product {
height: max-content;
width: 30%;
background: linear-gradient( #00000000, #000);
border-radius: 25px;
display: flex;
flex-direction: column;
align-items: center; 
justify-content: center;
margin: 3%;
}

.product p {
    text-align: center;
}
  

@media screen and (max-width: 800px){
    .productlist{
        flex-direction: column;
    }
    .product {
        width: 70%;
        align-self: center;
        
    }
}
