.teamContainer {
    display: flex;          
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap;   
    min-height: 100vh;    
}

.teamGrid {
    display: grid;        
    grid-template-columns: repeat(2, 1fr); 
    gap: 3rem;          
    width: 90%;          
}

.teamGrid div {
    text-align: center;  
}