.tycContainer {
    background: linear-gradient( #000000b9, #000000e9);
    width: 100vw;
    min-height: 100vh;
    margin: 5%;
    text-align: justify;
}

.tycText {
    width: 85%;
}

.tycText h3 {
    text-align: center;
    background: linear-gradient(#016ca5, #bedef5);
    margin-top: 6rem;
    margin-bottom: 3rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.tycText ol li {
    font-weight: bold;
    font-size: 25px;
    padding: 1.5%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}